.shop_container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.cart_contianer{
    background-color: #f3f0f0;
}

/* Responsive */
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .shop_container{
        grid-template-columns: 2fr 1fr;
    }
}
 
/* small mobile :320px. */
@media (max-width: 767px) {
    .shop_container{
        grid-template-columns: 1fr 1fr;
    }
}